

.books{
    height: 300px;
    width: 300px;
}

.interestsList li{
    padding: 5px;
}

img{
  height: 300px;
  width: 300px;
}


.drivingInfo{
  margin-right: 300px;
}

li{
  font-size: medium;
}
table{
  width:100%;
}
table, th, td {
  border: 1px solid black;
}

*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

